* {
margin: 0;
padding: 0;
box-sizing:border-box;
}

html,body{
width:100%;
height:100%;
}

.main{
    width:100%;
    height: 100%;
    display: relative;
}
.logo{
    height:100px;
    width: 100vw;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dadada;
}
.nav{
display: flex;
align-items: center;
gap: 10px;
}
.nav h4{
    font-size: 3vw;
}
.nav i{
    display: none;
}   

@media (max-width:600px){
    .logo{
        padding:0 5vw;
        background: burlywood;
    }
    .nav h4{
        display: none;
    }   
    .nav i{
        display: block;
        font-size: 5vw;
    }
}